[submodule "graphcast"]
	path = graphcast
	url = https://github.com/SaptarishiD/graphcast
[submodule "graphcast-experiments/graphcast"]
	path = graphcast-experiments/graphcast
	url = https://github.com/SaptarishiD/graphcast
